@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
}
nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div a img {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  height: 100%;
}
nav div ul {
  display: flex;
  justify-content: flex-end;
}
nav div ul li {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 5%;
  justify-content: flex-end;
  align-content: center;
  font-family: "Oswald";
  font-size: 20px;
}
nav div ul li .link_main {
  text-decoration: underline;
  color: white;
}
nav div ul li .links {
  text-decoration: none;
  color: white;
}

main {
  background-image: url("../assets/images/background.jpg");
  width: 100%;
  height: 100%;
}
main h1 {
  font-family: "Young Serif", serif;
  color: #FF0000;
  display: flex;
  font-size: 60px;
  text-shadow: 2px 2px 0px rgb(12, 12, 12);
  padding-top: 2%;
  margin-bottom: 5%;
  justify-content: center;
}

.piedepagina {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-family: "Oswald";
  font-style: normal;
}
.piedepagina .contenedorpie {
  display: flex;
  padding: 42px;
  align-items: center;
  justify-content: center;
}
.piedepagina .contenedorpie h2 {
  font-size: 1.5rem;
}
.piedepagina .contenedorpie a .redes {
  padding: 5px;
  width: 30px;
  height: 30px;
}
.piedepagina .copyright {
  font-family: "Arial", sans-serif;
  padding-left: 3px;
  font-size: 10px;
}

.ustedes_section {
  padding-top: 5%;
  background-color: rgba(90, 90, 90, 0.857);
  display: flex;
  flex-wrap: wrap;
  color: white;
}
.ustedes_section .ustedes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.ustedes_section .ustedes .fotos_ustedes {
  margin-right: 5%;
  margin-left: 3%;
}
.ustedes_section .ustedes .ustedes_texto {
  font-family: "Oswald";
  font-size: 26px;
  width: 33%;
}

.section_contacto {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: space-evenly;
  padding: 5%;
  background-color: rgba(36, 36, 36, 0.3137254902);
}
.section_contacto .contenedor_contacto {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 75%;
}
.section_contacto .contenedor_contacto .boton_contacto {
  display: flex;
  justify-content: center;
}
.section_contacto .contenedor_contacto .boton_contacto .bn13 {
  display: inline-block;
  padding: 0.65em 1.6em;
  border: 2px solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  width: 100%;
  transition: all 0.2s;
  animation: bn13bouncy 5s infinite linear;
  position: relative;
}
.section_contacto div .foto_ilustrativa {
  border-radius: 15px;
}

@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: 0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
.master_cuenta {
  background: url("../assets/images/fondo.jpg");
  width: 100%;
  height: 100%;
}
.master_cuenta .scale-up-center {
  display: flex;
  animation: scale-up-center 0.4s;
  align-items: center;
  justify-content: space-evenly;
}
.master_cuenta .scale-up-center .cuenta_form {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  padding-bottom: 5%;
}
.master_cuenta .scale-up-center .cuenta_form .formulario {
  display: flex;
  flex-direction: column;
  background-color: rgba(63, 63, 63, 0.8509803922);
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: 10px;
  width: 500px;
  height: 600px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.592);
}
.master_cuenta .scale-up-center .cuenta_form .formulario .cuenta_titulo {
  color: rgb(235, 235, 235);
  font-family: "Oswald", serif;
  font-size: 45px;
  font-style: italic;
  text-shadow: 2px 2px 0px rgb(255, 0, 0);
}
.master_cuenta .scale-up-center .cuenta_form .formulario .email {
  font-family: "Young Serif", serif;
  font-style: italic;
  text-shadow: 2px 2px 0px rgb(12, 12, 12);
  display: flex;
  height: 100px;
  width: 300px;
  justify-content: center;
  flex-direction: column;
}
.master_cuenta .scale-up-center .cuenta_form .formulario .email .entrada {
  background-color: #6c6c6c;
  border-radius: 30px;
  color: white;
  border-style: none;
  padding-left: 5px;
}
.master_cuenta .scale-up-center .cuenta_form .formulario .password {
  font-family: "Young Serif", serif;
  text-shadow: 2px 2px 0px rgb(12, 12, 12);
  font-style: italic;
  height: 73px;
  width: 300px;
}
.master_cuenta .scale-up-center .cuenta_form .formulario .acceder_boton .acceder {
  background-color: #7e0000;
  text-shadow: 2px 2px 0px rgb(12, 12, 12);
  color: rgb(255, 255, 255);
  height: 30px;
  width: 100px;
  border-radius: 30px;
}
.master_cuenta .scale-up-center .mockup {
  height: 800px;
}

.master {
  background: url("../assets/images/background.jpg");
  width: 100%;
  height: 100%;
}
.master .section_inicio {
  display: inline;
}
.master .section_inicio .padresdecontenido {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: "Oswald", serif;
  background-color: rgba(36, 36, 36, 0.3137254902);
  font-size: 18px;
}
.master .section_inicio .padresdecontenido .contenido1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 1.5%;
  justify-content: center;
  align-items: center;
}
.master .section_inicio .padresdecontenido .contenido1 .h2_contenido {
  margin-bottom: 5px;
}
.master .section_inicio .padresdecontenido .contenido1 .listado_desordenado_inicio {
  margin: 13px;
}
.master .section_inicio .padresdecontenido .contenido2 {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Young Serif", serif;
  font-style: italic;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 22px;
}
.master .section_inicio .padresdecontenido .contenido2 a .foto_contenido2 {
  transition: all 200ms;
}
.master .section_inicio .padresdecontenido .contenido2 a .foto_contenido2:hover {
  transform: scale(1.1);
}
.master .section_inicio .padresdecontenido .contenido3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1%;
  margin-left: 1.5%;
}
.master .section_inicio .padresdecontenido .contenido3 .h2_contenido {
  margin-bottom: 5px;
}
.master .section_inicio .padresdecontenido .contenido3 .texto_contenido3 {
  padding-top: 8px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .titulo {
    display: none;
  }
  .padresdecontenido {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "contenido1" "contenido2" "contenido3";
    width: 100%;
    justify-content: center;
  }
  .padresdecontenido .contenido1 {
    grid-area: contenido1;
  }
  .padresdecontenido .contenido1 .h2_contenido {
    margin-bottom: 5px;
  }
  .padresdecontenido .contenido1 .listado_desordenado_inicio {
    margin: 13px;
  }
  .padresdecontenido .contenido2 {
    grid-area: contenido2;
    font-size: 18px;
    width: 100%;
  }
  .padresdecontenido .contenido2 .enlace_foto .foto_contenido2 {
    width: 100%;
    height: 112%;
  }
  .padresdecontenido .contenido3 {
    grid-area: contenido3;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .piedepagina {
    display: grid;
  }
  .piedepagina .contenedorpie {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "copy" "redes" "redes" "redes";
    justify-items: center;
    font-size: 11px;
  }
  .piedepagina .contenedorpie .h2 {
    grid-area: copy;
    font-size: 12px;
  }
  .piedepagina .contenedorpie a .redes {
    grid-area: redes;
    width: 28px;
    height: 28px;
  }
  .piedepagina .copyright {
    margin-bottom: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .formulario {
    width: 100%;
    height: 420px;
    margin-left: 0px;
  }
  .formulario .email {
    align-items: center;
  }
  .formulario .email .entrada {
    width: 90%;
  }
  .formulario .password {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mockup {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section_contacto {
    flex-direction: column;
  }
  .section_contacto .contenedor_contacto {
    width: 85%;
  }
  .section_contacto .foto_ilustrativa {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contenedor_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo" "lista" "lista" "lista" "lista" "lista";
    width: 100vw;
    justify-items: center;
  }
  .contenedor_nav .logoprincipal {
    display: grid;
    grid-area: logo;
    width: 100%;
    height: 100%;
  }
  .contenedor_nav .listado {
    display: grid;
    grid-area: lista;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: space-evenly;
    justify-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
