.iniciocabecera{
    .contenedor_nav{
        display: flex;
        justify-content: space-between;
        a{
            .logoprincipal{
                display: flex;
                justify-content: flex-start;
                width: 60%;
                height: 100%;
            }
        }
        .listado{
            display: flex;
            justify-content: flex-end;
            .lista_navbar{
                display: flex;
                flex-wrap: nowrap;
                list-style: none;
                margin: 5%;
                justify-content: flex-end;
                align-content: center;
                font-family: 'Oswald';
                font-size: 20px;
                .link_main{
                    text-decoration: underline;
                    color: white;
                }
                .links{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}
.master{
    background-image: url("../assets/images/background.jpg");
    width: 100%;
    height: 100%;
    .titulo{
        font-family: 'Young Serif', serif;
        color: #FF0000;
        display: flex;
        font-size: 60px;
        text-shadow: 2px 2px 0px rgb(12 12 12);
        padding-top: 2%;
        margin-bottom: 5%;
        justify-content: center;
    }
}
.piedepagina{
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-family: 'Oswald';
    font-style: normal;
    .contenedorpie{
        display: flex;
        padding: 42px;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 1.5rem;
        }
        a{
            .redes{
                padding: 5px;
                width: 30px;
                height: 30px;
            }
        }
    }
    .copyright{
        font-family: 'Arial',sans-serif;
        padding-left: 3px;
        font-size: 10px;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .contenedor_nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "logo"
        "lista"
        "lista"
        "lista"
        "lista"
        "lista";
        width: 100vw;
        justify-items: center;
        .logoprincipal{
            display: grid;
            grid-area: logo;
            width: 90%;
            height: 100%;
        }
        .listado{
            display: grid;
            grid-area: lista;
            justify-items: center;
        }
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .titulo{
        display: none;
    }
    .piedepagina{
        display: grid;
        .contenedorpie{
            display: grid;
            grid-template-columns: 4fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
            "copy"
            "redes"
            "redes"
            "redes";
            justify-items: center;
            font-size: 11px;
            .h2{
                grid-area: copy;
                font-size: 12px;
            }
            a{
                .redes{
                    grid-area: redes;
                    width: 28px;
                    height: 28px;
                }
            }
        }
        .copyright{
            margin-bottom: 0px;
        }
    }
}