@media (min-width: 767px) and (max-width: 1280px){
    .padresdecontenido{
        display: flex;
        flex-direction: row;
        color: white;
        font-family: map-get($fuente-oswald-blanca, fontFo);
        background-color: #24242450;
        font-size: 18px;
        .contenido1{
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-left: 1.5%;
            justify-content: center;
            align-items: center;
            .h2_contenido{
                margin-bottom: 5px;
            }
            .listado_desordenado_inicio{
                margin: 13px;
            }
        }
        .contenido2{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: map-get($fuente-young-serif-blanca, fontF);
            font-style: italic;
            justify-content: center;
            flex-wrap: wrap;
            font-size: 22px;
            width: 60%;
            a{
                .foto_contenido2{
                    transition: all 200ms;
                    width: 95%;
                    &:hover{
                        transform: scale(1.10);
                    }
                }
                
            }
        }
        .contenido3{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-right: 1%;
            margin-left: 1.5%;
            .h2_contenido{
                margin-bottom: 5px;
            }
            .texto_contenido3{
                padding-top: 8px;
            }
        }
    }
}