@media (min-width: 320px) and (max-width: 767px){
    
}

.ustedes_section{
    padding-top: 5%;
    background-color: rgba(90, 90, 90, 0.857);
    display: flex;
    flex-wrap: wrap;
    color: white;
    .ustedes{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
        .fotos_ustedes{
            margin-right: 5%;
            margin-left: 3%;
        }
        .ustedes_texto{
            font-family: 'Oswald';
            font-size: 26px;
            width: 33%;
        }
    }
}
