@media (min-width: 767px) and (max-width: 1280px){
    .carousel-item{
        .foto_auto{
            width: 100%;
        }
        .carousel-caption{
            background-color: #0000004f;
        }
    }
    .carousel-control-prev-icon{
        background-image: url("../assets/images/flecha-anterior.png");
    }
    .carousel-control-next-icon{
        background-image: url("../assets/images/flecha.png");
    }


    .part2-vehiculos{
        margin-top: 10%;
        .mas-vehiculos{
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 1fr 1fr 1fr;
            grid-template-areas: 
            "titulo titulo"
            "foto1 foto2"
            "foto3 foto4"
            "foto5 foto6"
            ;
            gap: 15px;
            .titulo-vehiculos{
                font-family: map-get($fuente-young-serif-blanca, fontF);
                color: white;
                padding-left: 30px;
                width: 200%;
            }
            img{
                width: 100%;
            }
            .foto-angulo1{
                animation:animacion-copada .9s linear both;
                grid-area: foto1;
            }
            .foto-angulo2{
                animation:animacion-copada .9s linear both;
                grid-area: foto2;
            }
            .foto-angulo3{
                animation:animacion-copada .9s linear both;
                grid-area: foto3;
            }
            .foto-angulo4{
                animation:animacion-copada .9s linear both;
                grid-area: foto4;
            }
            .foto-angulo5{
                animation:animacion-copada .9s linear both;
                grid-area: foto5;
            }
            .foto-angulo6{
                animation:animacion-copada .9s linear both;
                grid-area: foto6;
            }
        }
    }
}

@keyframes animacion-copada{
    0%{
        transform:scale3d(1,1,1)
    }
    30%{
        transform:scale3d(1.25,.75,1)
    }
    40%{
        transform:scale3d(.75,1.25,1)
    }
    50%{
        transform:scale3d(1.15,.85,1)
    }
    65%{
        transform:scale3d(.95,1.05,1)
    }
    75%{
        transform:scale3d(1.05,.95,1)
    }
    100%{
        transform:scale3d(1,1,1)
    }
}